<section class="card" draggable="true" data-index="{{$index}}">
    <header>
        <div><a href="../nutrient/{{nutrient.id}}">{{nutrient.name}}</a></div>
        <div>( {{nutrient.energy * 100 / 1000 | number: 0}}kJ )</div>
    </header>
    <div class="macro-nutrients">
        <div>Proteins: {{nutrient.proteins * 100 | number: 1}}g</div>
        <div>Carbs: {{nutrient.carbs * 100 | number: 1}}g</div>
        <div>Fats: {{nutrient.fats * 100 | number: 1}}g</div>
    </div>
</section>