@import url(//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,900,900italic,700italic);

html {
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}

body > main {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    /*min-width: 40rem;*/
}

body > header {
    background-color: #428bca;
    padding: 1rem;
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    /*min-width: 40rem;*/
}

body > header > h1 {
    padding-bottom: 1rem;
    font-size: 1.5em;
}

body > header > div {
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body > nav {
    background-color: rgb(75%, 75%, 75%);
    /*min-width: 40rem;*/
    height: 3rem;
}












aside {
    opacity: 0.5;
}
















section.card {
    background-color: #ffffff;
    border: 0.1rem solid #d8d8d8;
    border-bottom-width: 0.25rem;
    border-radius: 0.25rem;
    margin: 1rem;
    padding: 1rem;
}

section.card > header {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

section.highlight {
    background-color: #9fc4e3;
    border-color: #428ac9;
}

section.highlight:hover {
    border-color: #428ac9;
    cursor: default;
}










input {
    font-family: inherit;
    font-size: inherit;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 0.1rem solid #d8d8d8;
    box-sizing: border-box;
    margin: 0 0 0 0;
}

button {
    background-color: #428bca;
    border-color: #428bca;
    border-style: solid;
    border-width: 0.25rem 0 0.25rem 0;
    font: inherit;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
    color: white;
}

button:hover {
    border-bottom-color: #415d9b;
}






td, th {
    padding: 1rem;
    border: 0.1rem solid black;
}

td.numeric {
    text-align: right;
}

th {
    background-color: rgb(75%, 75%, 75%);
}

p {
    margin-bottom: 1rem;
}