<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>

        <title>Day overview</title>

        <script type='application/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js'></script>
        <script type='application/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js'></script>
        <script type='application/javascript' src='//www.google.com/jsapi'></script>
        <script type='application/javascript' src='/utilities.js'></script>
        <script type='application/javascript' src='/day.js'></script>

        <link rel='stylesheet' href='/style.css'/>
        <link rel='stylesheet' href='/macros.css'/>
        <style type='text/css'>
            #nutrientFilter input {
                width: 100%;
                box-sizing: border-box;
            }

            #nutrientFilter input + div {
                background-color: white;
                border-radius: 0.25rem;
                border: 0.1rem solid #428bca;
                margin-top: 0.5rem;
            }

            #nutrientFilter input + div > div {
                border-bottom: 0.1rem dashed #d8d8d8;
                padding: 0.5rem;
                cursor: pointer;
            }

            #nutrientFilter input + div > div:last-of-type {
                border-width: 0;
            }

            #nutrientEntry {
                text-align: center;
            }

            #nutrientEntry > .nutrient {
                margin: 1rem;
                font-size: 1.5rem;
            }

            #nutrientEntry > .question {
                margin: 0.5rem;
                font-style: italic;
            }

            #nutrientEntry > input {
                width: 4rem;
                margin: 1rem;
            }

            #nutrientEntry button {
                min-width: 4rem;
                margin: 1rem;
            }

            #summary.macros > main {
                border-bottom: 0.1rem dashed black;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
            }

            section.highlight input {
                border-color: #428ac9;
            }
        </style>
    </head>
    <body ng-app="nutrition" ng-controller="DayController">
        <header>
            <h1>Day logger</h1>
            <div>{{day.date | date: 'MMMM d, yyyy'}}</div>
        </header>
        <nav>
            <a href='/'>Home</a>
        </nav>
        <main>
            <section id='summary' class='card highlight macros'>
                <main>
                    <div>
                        <div>Energy</div>
                        <div>{{day.energy === undefined ? 0 : day.energy / 1000 | number: 0}}kJ</div>
                    </div>
                    <div>
                        <div>Proteins</div>
                        <div>{{day.proteins === undefined ? 0 : day.proteins | number: 0}}g</div>
                    </div>
                    <div>
                        <div>Carbs</div>
                        <div>{{day.carbs === undefined ? 0 : day.carbs | number: 0}}g</div>
                    </div>
                    <div>
                        <div>Fats</div>
                        <div>{{day.fats === undefined ? 0 : day.fats | number: 0}}g</div>
                    </div>
                    <div>
                        <div>Fruits</div>
                        <div>{{day.fruits === undefined ? 0 : day.fruits | number: 0}}g</div>
                    </div>
                    <div>
                        <div>Vegetables</div>
                        <div>{{day.vegetables === undefined ? 0 : day.vegetables | number: 0}}g</div>
                    </div>
                </main>
                <div id='nutrientFilter' ng-show='!newEntry'>
                    <input type='text' placeholder='Add nutrient' autofocus ng-model='nutrientFilter'/>
                    <div ng-show='filteredNutrients'>
                        <div ng-repeat='nutrient in filteredNutrients' ng-click='selectNutrient($index)'>{{nutrient.name}}</div>
                    </div>
                </div>
                <div id='nutrientEntry' ng-show='newEntry'>
                    <div class='nutrient'>{{newEntry.nutrient.name}}</div>
                    <div class='question'>How many grams?</div>
                    <input type='number' ng-model='newEntry.weight'/>
                    <div>
                        <button ng-click='confirmEntry()'>Add</button>
                        <button ng-click='cancelEntry()'>Cancel</button>
                    </div>
                </div>
            </section>
            <section class='card macros' ng-repeat='entry in day.entries' ng-click='toggleDetails($index)' ng-class='kevin'>
                <header>
                    <div>{{entry.nutrient.name}}</div>
                    <div>{{entry.weight | number: 0}}g</div>
                </header>
                <main>
                    <div>
                        <div>Energy</div>
                        <div>{{entry.energy / 1000 | number: 0}}kJ</div>
                    </div>
                    <div>
                        <div>Proteins</div>
                        <div>{{entry.proteins | number: 2}}g</div>
                    </div>
                    <div>
                        <div>Carbs</div>
                        <div>{{entry.carbs | number: 2}}g</div>
                    </div>
                    <div>
                        <div>Fats</div>
                        <div>{{entry.fats | number: 2}}g</div>
                    </div>
                    <div>
                        <div>Fruits</div>
                        <div>{{entry.fruits | number: 2}}g</div>
                    </div>
                    <div>
                        <div>Vegetables</div>
                        <div>{{entry.vegetables | number: 2}}g</div>
                    </div>
                </main>
                <footer ng-show='entry.details'>
                    <a href='/nutrient/{{entry.nutrient._id}}'>Nutrient info</a>
                    <button ng-click='removeEntry($index, $event)'>Remove entry</button>
                </footer>
            </section>
        </main>
    </body>
</html>
