<!DOCTYPE html>

<html>
    <head>
        <title>Day overview</title>

        <script type='application/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js'></script>
        <script type='application/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js'></script>
        <script type='application/javascript' src='//www.google.com/jsapi'></script>
        <script type='application/javascript' src='/utilities.js'></script>
        <script type='application/javascript' src='/day.js'></script>

        <link rel='stylesheet' href='/style.css'/>
        <link rel='stylesheet' href='/macros.css'/>

        <style type='text/css'>
            .macros > header a {
                color: inherit;
                text-decoration: none;
            }
        </style>
    </head>
    <body ng-app='nutrition' ng-controller='DayListController'>
        <header>
            <h1>Day list</h1>
            <div>This page shows an overview of all logged days.</div>
        </header>
        <nav>
            <a href='/'>Home</a>
            <a href="/day/{{today() | date: 'yyyy-MM-dd'}}">Today</a>
        </nav>
        <main>
            <section class='card macros' ng-repeat="day in days">
                <header>
                    <div><a href="/day/{{day.date | date: 'yyyy-MM-dd'}}">{{day.date | date: 'MMMM d, yyyy'}}</a></div>
                    <div>{{day.energy / 1000 | number: 0}}kJ</div>
                </header>
                <main>
                    <div>
                        <div>Proteins</div>
                        <div>{{day.proteins | number: 0}}g</div>
                    </div>
                    <div>
                        <div>Carbs</div>
                        <div>{{day.carbs | number: 0}}g</div>
                    </div>
                    <div>
                        <div>Fats</div>
                        <div>{{day.fats | number: 0}}g</div>
                    </div>
                    <div>
                        <div>Fruits</div>
                        <div>{{day.fruits | number: 0}}g</div>
                    </div>
                    <div>
                        <div>Vegetables</div>
                        <div>{{day.vegetables | number: 0}}g</div>
                    </div>
                </main>
            </section>
        </main>
    </body>
</html>
