<!DOCTYPE html>

<html>
    <head>
        <title>Nutrient list</title>

        <script type='application/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js'></script>
        <script type='application/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js'></script>
        <script type='application/javascript' src='//www.google.com/jsapi'></script>
        <script type='application/javascript' src='/nutrients.js'></script>

        <link rel='stylesheet' href='/style.css'/>
        <style type='text/css'>
            table {
                width: 100%;
                margin-bottom: 1rem;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Nutrient list</h1>
            <div>This page shows an overview of all nutrients.</div>
        </header>
        <nav>
            <a href='/'>Home</a>
        </nav>
        <main>
            <section class='card'>
                <header>Nutrients</header>
                <p>Macronutrient components listed per 100g.</p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Energy</th>
                            <th>Proteins</th>
                            <th>Carbs</th>
                            <th>Fats</th>
                            <th>Vegetables</th>
                            <th>Fruits</th>
                            <th>Accuracy</th>
                        </tr>
                    </thead>
                    <tbody ng-app='nutrition' ng-controller='NutrientListController'>
                        <tr ng-repeat="nutrient in nutrients">
                            <td><a href='/nutrient/{{nutrient._id}}'>{{nutrient.name}}</a></td>
                            <td class='numeric'>{{nutrient.energy / 10 | number: 0}}kJ</td>
                            <td class='numeric'>{{nutrient.proteins * 100 | number: 2}}g</td>
                            <td class='numeric'>{{nutrient.carbs * 100 | number: 2}}g</td>
                            <td class='numeric'>{{nutrient.fats * 100 | number: 2}}g</td>
                            <td class='numeric'>{{nutrient.vegetables * 100 | number: 2}}g</td>
                            <td class='numeric'>{{nutrient.fruits * 100 | number: 2}}g</td>
                            <td class='numeric'>{{accuracy(nutrient) | number: 0}}% (<a href='#accuracyNote'>*</a>)</td>
                        </tr>
                    </tbody>
                </table>
                <aside id='accuracyNote'>
                    * Accuracy is an indication in % of how good the energy calculated based on macronutrients (protein, carbs and fats) matches with the listed energy values.
                    Note that this currently does NOT take into account the alcohol and fiber content (which does have an impact for nutrients that are high in them (beer, wine, fruits and vegetables).
                    Also, most nutrients entered based on the USDA have errors in them that they have the carb values already summed with the fiber (unless the comment section mentions it specifically), which seems to be a difference in the "European" vs "American" model.
                    All nutrients with sources other than USDA do not have their carbs summed with fiber.
                    These errors will have a net effect of just a few %, with some exceptions such as herbs and spices, vegetables and fruits being more extremely impacted.
                </aside>
            </section>
        </main>
    </body>
</html>
